
    *{
        padding: 0;
        margin: o auto;
        align-items:  center;
      }
      h1{
        text-align: center;
      }
      #image{
        
        
        background: white;
        padding: 10px;
        margin: 20;
      }
      
      img{
        max-width: 100%;
        display: block;
        height: auto;
        margin: 0 auto;
        
      
      }
      body{
        align-content: center;
        text-align: center;
      }
      #img-div{
        align-items: center;
        text-align: center;
      }
      
      #img-caption{
        text-align: center;
      }